/* Заголовок сторінки */
h1 {
    font-size: 2rem;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Форма додавання ліків */
.form-container {
    margin-bottom: 20px;
}

/* Таблиця ліків */
.table {
    margin-top: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.table th {
    background: #343a40;
    color: #ffffff;
    text-align: center;
}

.table td {
    text-align: center;
}